.App-ratings{
 overflow-y:hidden;
 height:250px;
 cursor:grab;
}

.App-ratings:active{
	cursor:grabbing;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-image {
	max-height:40px;
	margin:auto;
}

.App-title {
  padding: 10px;
  text-align:center;
  margin-bottom: 20px;
}
